<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="{{ if .Site.Params.theme.mainTheme }}{{ .Site.Params.theme.mainTheme }}{{ end }}">
  {{- partial "head.html" . -}}
  <body class="min-h-screen flex flex-col">
    <a class="skip-link" href="#main-content">Skip to content</a>

    {{ if not .Site.Params.theme.singlePage }}
      {{ partial "header" . }}
    {{ end }}

    <main id="main-content" class="flex-1">
      {{ if or .IsHome (eq .Section "blog") }}
        {{/* Home and blog pages set their own width in their templates. */}}
        {{- block "main" . }}{{- end }}
      {{ else }}
        <div class="mx-auto max-w-3xl px-4 sm:px-6 py-10">
          {{- block "main" . }}{{- end }}
        </div>
      {{ end }}
    </main>

    {{ if not .Site.Params.theme.singlepage }}
      {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
