{{ define "main" }}
<div class="prose dark:prose-invert max-w-none">
  <h1 class="standard {{ if eq .Kind `term` }}font-italic{{ end }}">
    {{ if eq .Kind "term" }}#{{ end }}{{- .Title -}}
  </h1>
  <div class="">
    <ul class="list-disc pl-6">
      <li>
        <a href="https://phatcvo.github.io/Lec-DRL/">Deep Reinforcement Learning</a>
        <div class="text-sm text-gray-600 dark:text-gray-400">A course covering the fundamentals and applications of deep RL.</div>
      </li>
      <li>
        <a href="https://phatcvo.github.io/Lec-MPC/">Model Predictive Control</a>
        <div class="text-sm text-gray-600 dark:text-gray-400">A course covering the fundamentals and applications of model predictive control.</div>
      </li>
      <li><a href="https://phatcvo.github.io/Safe-Optimal-Control-for-Motional-Planning-based-on-RL/">Safe-Optimal Control for Motional Planning based on RL</a>
        <div class="text-sm text-gray-600 dark:text-gray-400">A course focusing on safe and optimal control strategies for motion planning using reinforcement learning.</div>
      </li>
      <li><a href="https://phatcvo.github.io/Survey-of-motion-planning-strategies/">Survey of Motion Planning Strategies</a>
        <div class="text-sm text-gray-600 dark:text-gray-400">An overview of various motion planning strategies and their applications.</div>
      </li>
      <li>
        <a href="https://phatcvo.blogspot.com/">Old Blog (Vietnamese)</a>
        <div class="text-sm text-gray-600 dark:text-gray-400">A blog covering various topics in Vietnamese.</div>
      </li>
  </div>
</div>
{{ end }}
