{{- $light := .Site.Params.social.wakatime_card.light | default "" -}}
{{- $dark := .Site.Params.social.wakatime_card.dark | default "" -}}

{{- if and $light $dark -}}
<div class="mt-8 rounded-2xl border border-stone-200 dark:border-stone-800 overflow-hidden bg-stone-50 dark:bg-stone-950">
  <img
    data-wakatime
    data-light-src="{{ $light }}"
    data-dark-src="{{ $dark }}"
    src="{{ $light }}"
    alt="Coding activity heatmap"
    class="w-full h-auto"
    loading="lazy"
    decoding="async"
    referrerpolicy="no-referrer"
  />
</div>
{{- end -}}
