<script>
  let skillPanel = document.querySelector("#skill-panel")
    .previousElementSibling;
  skillPanel.addEventListener("click", function() {
    let skillBars = document.querySelectorAll("#skill-percent");
    skillBars.forEach(elem => {
      elem.style.width = elem.classList[0];
    });
  });
</script>
{{ range.Site.Params.skill.list }}
    <code>{{ .skill }}</code>
    <div class="w-120 mt-1 mb-3 border border-black dark:border-gray-300 rounded-sm" style="height: 22.65rem;">
        <figure>
            <!-- Light theme WakaTime chart -->
            <img
                id="wakatime-light"
                src="https://wakatime.com/share/@phatcvo/3448f2e6-dcc5-42e8-803d-ff693904bcfa.svg"
                alt="Wakatime SVG Image (Light)"
                style="width: 100%; height: 100%"
                class="block dark:hidden"
            />
            <!-- Dark theme WakaTime chart -->
            <img
                id="wakatime-dark"
                src="https://wakatime.com/share/@phatcvo/3978c619-7cbd-4bb6-9c0d-7273e5a8c142.svg"
                alt="Wakatime SVG Image (Dark)"
                style="width: 100%; height: 100%"
                class="hidden dark:block"
            />
            </figure>
        {{/*  <div id="skill-percent" class="{{ .skillrating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded-sm" style="width: 0; transition: all 0.5s;"></div>  */}}
    </div>
{{ end }}
